.title-slide{
  /*vertical-align:middle;*/
  background-image: url("logos/title_background.png");
  background-size: cover;
}

/* title */
.title-slide h1{
  font-weight: bold;
  font-family: Arial;
  font-size: 30px;
  text-align: right;
  color: white;
  border-bottom: 3px white dotted;
  padding-bottom: 10px;
  padding-top: 30%;
}

/* subtitle */
.title-slide h2{
  font-weight: 400;
  padding-top: 5%;
  font-family: Arial;
  font-size: 24px;
  text-align: right;
  color: white;
}


/* name and affiliation */
.title-slide h3{
  font-weight: 400;
  padding-top: 2%;
  font-family: Arial;
  font-size: 18px;
  text-align: right;
  color: white;
}


.UoM-logo-white{
  background-image: url("logos/UoM_allwhite.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 1em;
  left: 80px;
  width: 230px;
  height: 200px;
  z-index: 0;
}

.UoM-logo-crim{
  background-image: url("logos/CrimUoM-icon-logo-Y.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 1em;
  left: 80px;
  width: 230px;
  height: 200px;
  z-index: 0;
}